.HomeProducts{
    height: 100vh;
    background-color: aqua;
    position: relative;
    background-image: url("https://www.livemint.com/lm-img/img/2023/04/11/1600x900/2-0-131573390-Tata-Steel-4C-0_1681212533240_1681212948573_1681212948573.jpg");
}

.HomeProductsDes{
    width: 44%;
    position: absolute;
    top: 50%;
    left: 13%;
    color: whitesmoke;
}

.HomeProductsDesHead4{
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.HomeProductsDesHead2{
    font-size: 2.7rem;
    margin: 6px 0px;
}

.HomeProductsDesP{
    letter-spacing: 1px;
}

.HomeProductsDesViewMore{
    padding: 15px 20px;
    width: max-content;
    text-decoration: none;
    color: blueviolet;
}
.HomeProductsDesViewMore p{
    text-decoration: none;
}

.aaa{
    text-decoration: none;
    color: blueviolet;
}

@media only screen and (max-width: 425px) {
    .HomeProductsDes{
        width: 60%;left: 10%;
    }
    .HomeProductsDesHead4{
        font-size: 0.6rem;
    }
    .HomeProductsDesP{
        font-size: x-small;
    }
    .HomeProductsDesHead2{
        font-size: 1.5rem;
    }
    .aaa{
        font-size: medium;
        background-color: aqua;
    }
}