.ProductsServicesContainer{
    height: 80vh;
    margin: 16vh 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.ProductsServicesContainerDes{
    flex: 1;
}

.ProductsServicesContainerDesP{
    width: 90%;
    /* background-color: aqua; */
    font-weight: 400;
}
.ProductsServicesContainerDesHead{
    font-size: xx-large;
    font-family: 'Raleway', sans-serif;
}
.ProductsServicesContainerImg{
    width: 100%;
    background-color: aqua;
    margin: auto;
    flex: 1;
    height: 60vh;
}

.ProductsServicesContainerDesP{
    /* font-family: 'Raleway', sans-serif; */
    font-size: small;
    letter-spacing: 0.6px;
    /* font-weight: 100; */
    font-weight: 400;
}

.ProductsServicesContainerImg img{
    object-fit: cover;
    height: 60vh;
    width: 100%;
}

.ProductsServicesContainerViewInDetail button{
    padding: 7px 12px;
    border: 2px solid blueviolet;
    border-radius: 2px;
    /* width: auto; */
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
}

@media only screen and (max-width: 425px) {
    .ProductsServicesContainerDesHead{
        font-size: large;
    }
    .ProductsServicesContainerImg{
        width: 100%;
        background-color: aqua;
        margin: auto;
        flex: 1;
        height: 50vh;
    }
    .ProductsServicesContainerImg img{
        margin: auto;
        object-fit: cover;
        height: 50vh;
        width: 100%;
    }
    .ProductsServicesContainerViewInDetail button{
        padding: 3px 9px;
        border: 0.8px solid blueviolet;
        border-radius: 2px;
        /* width: auto; */
        font-family: 'Raleway', sans-serif;
        background-color: transparent;
    }   
}