.AllNews3Grid{
    padding: 15vh 0vh;
}

.AllNews3GridHead{
    font-weight: 600;
    padding: 25px 10px;
    font-family: 'Cinzel', serif;
}
.AllNewsContainer{
    /* padding: 6vh; */
    text-align: center;
    background-color: rgb(255, 255, 255);
    /* margin-bottom: 2vh; */   
}

.AllNewsContainerHead{
    color: rgb(0, 0, 0);
    font-family: 'Cinzel', serif;
}

.AllNewsContainerGrid{
    /* background-color: blueviolet; */
    padding: 5vh 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.AllNewsContainerGridEach{
    position: relative;
    margin: auto;
    width: 350px;
    /* transition: 1.4s; */
    height: 350px;
}

.AllNewsContainerGridEachVid{
    object-fit: cover;
}

.AllNewsContainerGridEach .AllNewsContainerGridEachImg{
    object-fit: cover;
}

.AllNewsContainerGridEachDiv{
    display: none;
    padding: 25px 20px;
    margin: auto;
    width: 350px;
    height: 350px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.871);
}

.AllNewsContainerGridEachImg{
    width: 350px;
    height: 350px;
    transition: 0.5s;
}

.AllNewsContainerGridEach:hover .AllNewsContainerGridEachDiv{
    top: 0;
    left: 0;
    display: block;
    right: 0;
    bottom: 0%;
}

.AllNewsContainerGridEachDivDes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 320px; */
    /* background-color: blue; */
    height: 300px;
    /* padding: 25px 5px 25px 0px; */
}

.AllNewsContainerGridEachDivDesHead{
    text-align: left;
    font-family: 'Cinzel', serif;
    font-size: medium;
    /* color: rgba(2, 2, 2, 0.952); */
    color: rgba(255, 255, 255, 0.952);
}

.AllNewsContainerGridEachDivDesP{
    word-wrap: break-word;
    color: rgb(0, 0, 0);
    color: aliceblue;
    text-align: left;
}

/* @keyframes slower{
    100%{
        tr
    }
} */

@keyframes slower {
    100%{
        display: block;
    }
}