.HomePage{
    background-color: blueviolet;
    height: 100vh;
    /* width: 100vw; */
    /* width: auto; */
    position: relative;
    background-image: url("https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/aventador/Ultimae/2023/02_21/aven_ultimae_05.jpg");
    background-position: center;
    background-repeat: initial;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.39);

}

.HomePageDes{
    position: absolute;
    text-align: left;
    top: 47%;
    width: 40%;
    left: 10%;
}   

.HomePageDesHead{
    color: rgb(247, 247, 247);
    font-size: 3rem;
}

.HomePageDesP{
    width: 100%;
    color: rgb(236, 236, 236);
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 500;
}

@media only screen and (max-width: 425px) {
    .HomePageDesHead{
        font-size: 2rem;
    }
    .HomePageDes{
        width: 60%;
        top: 50%;
        left: 10%;
    }
    .HomePageDesP{
        font-size: 0.6rem;
    }
}