.HomePage{
    height: 100vh;
    /* width: 100vw; */
    /* width: auto; */
    position: relative;
    z-index: 10;
    scrollbar-width: 1px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.39);
}

.downScroll{
    position: absolute;
    z-index: 100;
    margin-bottom: 55px;
    bottom: 0;
    transition: 1ms;
    text-align: center;
    width: 100%;
}

.downScroll a{
    color: whitesmoke;
    text-decoration: underline;
    border-radius: 9px;
    padding: 6px 12px;
    margin-bottom: 10px;
    margin: auto;
}

.HomePageCarousel{
    width: auto;
    height: 100vh;
}
.hnhn {
    height: 100vh;
}
.hnhn img{
    /* display: block; */
    height: 100vh;
    object-fit: cover;
}

.HomePageDes{
    /* height: 100vh;
    z-index: 100; */
    position: absolute;
    display: block;
    text-align: left;
    width: 60%;
    left: 10%;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}   

.HomePageDesHead{
    color: rgb(247, 247, 247);
    /* width: 60%; */
    line-height: 7vh;
    font-size: 2.7rem;
    font-family: 'Poppins', sans-serif;
    /* margin-bottom: 8px; */
}
.aaaa{
    width: max-content;
    display: block;
    text-decoration: none;
}

.HomePageDesP{
    width: 100%;
    color: rgb(236, 236, 236);
    font-size: 0.9rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 425px) {
    .HomePageDesHead{
        font-size: 1.3rem;
        line-height: 5vh;
    }

    .HomePage{
        height: 100vh;   
    }

    .hnhn{
        height: 100vh;
    }

    .hnhn img{
        height: 100vh;
    }

    .HomePageCarousel{
        height: 100vh;
    }

    .HomePageDes{
        width: 80%;
        top: 20%;
        left: 10%;
    }
    .HomePageDesP{
        font-size: 0.6rem;
    }
}
