.AboutUsHome{
    background-image: url("https://images.businessnewsdaily.com/app/uploads/2022/04/04074130/teamwork_g-stockstudio_getty.jpg");
    height: 135vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    /* background-color: violet; */
    background-position:center;
    background-repeat: no-repeat;
    background-color: aqua;
    object-fit: cover;
    /* object-fit: cover;    */
}

.AboutUsHomeDes{
    position: absolute;
    width: 100%;
    text-align: center;
    /* top: 35vh; */
    font-size: large;
    padding: 0px 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: white;
    margin: auto;
    animation-name: textUnderline;
    animation-timing-function: ease;
    animation-delay: 2s;
}

@keyframes textUnderline {
    0%{
        text-decoration: none;
    }100%{
        text-decoration: underline;
    }
}
