.ClientsHome{
    height: 100vh;
    background-image: url("https://www.sedex.com/app/uploads/2022/11/Consulting-2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.493);
}

.ClientsHomeImg{
    position: relative;
    height: 100vh;
}

.ClientsHomeImg img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.ClientsHomeDes{
    position: absolute;
    top: 45vh;
    left: 8vw;
    width: 70%;
}

.ClientsHomeDesHeadThird{
    color: aliceblue;
    font-size: small;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
}

.ClientsHomeDesHeadOne{
    color: rgb(255, 255, 255);
    /* color: antiquewhite; */
    padding: 0px 8px;
    margin: 0%;
    background-color: rgba(137, 43, 226, 0.63);
    font-family: 'Raleway', sans-serif;
    width: max-content;
    font-style: italic;
    font-size: 50px;
    font-weight: 200;
}

.ClientsHomeDesP{
    font-weight: 600;
    width: 70%;
}

.ClientsHomeDesPSpan{
    font-size: small;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: azure;
}