.CompanySecret{
    position: relative;
    height: 100vh;
    /* background: red; */
    /* width: 100%; */
    margin: 10vh;
    padding: 10vh 0vh;
}

.CompanySecretBG{
    height: 80vh;
    width: 100%;
    /* padding: 5vh 0vh; */
    box-shadow: 0px 0px 80px #eeeeee;
    margin: auto;
    /* top: 0; */
    background-color: aqua;
    position: absolute;
}
.CompanySecretBG img{
    /* border-radius: 100v; */
    height: 80vh;
    object-fit: cover;
    z-index: -1;
    width: 100%;
}
.CompanySecretHead{
    /* padding: 50px 0vh; */
    text-align: center;
    font-size: medium;
    padding: 45px 10px;
    position: relative;
    z-index: 1;
}
.CompanySecretHeadH1{
    font-family: 'Cinzel', serif;
    font-weight: 100;
}
.CompanySecretDes{
    position: relative;
    padding: 13vh 35px;
    font-family:'Be Vietnam Pro', sans-serif;
    font-size: medium;
    text-align: center;
    z-index: 1;
}