.EnLargeNews{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    position: relative;
    background-size: cover;
    background-image: url("https://media.istockphoto.com/id/846859964/photo/robots-welding-in-a-car-factory.jpg?s=612x612&w=0&k=20&c=YLDHM61cwwC7xPnzP8nlBEbmJLB1sqgMr9W6B1m2WBk=");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* align-items: center; */
    overflow: hidden;
}

.EnLargeNewsImage{
    background-color: black;
    flex: 2;
    /* margin-f: 0%; */
    transition-duration: .7s;
    position: fixed;
    transition-property: initial;
    left: 0;
    overflow:auto;
}

.EnLargeNewsImage .carouselFound div{
    display: flex;
}

.EnLargeNewsDescrip{
    /* overflow-y: scroll; */
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    flex: 8;
    color: white;
    margin-left: 350px;
    background-color: rgba(0, 0, 0, 0.900);
}

.EnLargeNewsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 85px 75px 40px 40px; 
}
.EnLargeNewsHeadingwithshortDesHead{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    text-decoration: underline;
}
.EnLargeNewsHeadingwithshortDesDes{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    font-weight: 200;
    word-spacing: 0px;
}

.EnLargeNewsHeadingwithDate{
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    font-size: x-large;
}
.EnLargeNewsBody{
    padding: 25px 40px;
    /* overflow-y: scroll; */
    /* white-space: nowrap; */
}
.EnLargeNewsBodyHead{
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    text-decoration: underline;
}
.EnLargeNewsBodyDes{
    padding: 30px 15px 15px;
    /* background-color: blue; */
}
.EnLargeNewsBodyDesPre{
    letter-spacing: 0.4px;
    /* word-wrap: break-word; */
    white-space: pre-wrap;
    /* background-color: blue; */
    word-spacing: 1.2px;
    font-family:'Be Vietnam Pro', sans-serif;
    font-weight:200;
    font-size: small;
}

.EnlargeNewsCarouselVidHere video {
    height: 100vh;
} 

.EnLargeNewsBodyPurchaseNow{
    margin-bottom: 2vh;
    width: 100%;
}

.EnLargeNewsBodyPurchaseNowHead{
    margin: auto;
    font-size: smaller;
    font-family: 'Raleway', sans-serif;
    padding: 15px 35px;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.911);
    color: rgba(22, 22, 22, 0.918);
    border-radius: 5px;
}