.EnLargeNews{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* align-items: center; */
    overflow: hidden;
}

.EnLargeNewsImage{
    background-color: black;
    flex: 2;
    transition-duration: 0.5s;
    position: fixed;
    transition-property: initial;
    left: 0;
    overflow:auto;
    /* width: 350px; */
}

.EnLargeNewsImage .carousel div{
    display: flex;
}

.EnLargeNewsDescrip{
    /* overflow-y: scroll; */
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    flex: 8;
    color: white;
    margin-left: 350px;
    background-color: rgba(0, 0, 0, 0.900);
}

.EnLargeNewsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 85px 75px 40px 40px; 
}
.EnLargeNewsHeadingwithshortDesHead{
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    font-size: xx-large;
    text-decoration: underline;
}
.EnLargeNewsHeadingwithshortDesDes{
    font-family:'Be Vietnam Pro', sans-serif;
    font-size: smaller;
    font-weight: 200;
    word-spacing: 0px;
}
.EnLargeNewsHeadingwithDate{
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    font-size: x-large;
}
.EnLargeNewsBody{
    padding: 5px 40px;
    /* overflow-y: scroll; */
    /* white-space: nowrap; */
}
.EnLargeNewsBodyHead{
    font-family: 'Cinzel', serif;
    font-size: large;
    text-decoration: underline;
}
.EnLargeNewsBodyDes{
    padding: 30px 15px 15px;
    /* background-color: blue; */
}
.EnLargeNewsBodyDesPre{
    letter-spacing: 0.4px;
    /* word-wrap: break-word; */
    white-space: pre-wrap;
    /* background-color: blue; */
    word-spacing: 1.2px;
    font-family:'Be Vietnam Pro', sans-serif;
    font-weight:200;
    font-size: small;
}