.WeAre{
    height: 110vh;
    padding: 100px 0px;
    background-color: rgb(253, 253, 253);
}

.WeAreHead{
    margin-bottom: 55px;
    text-align: center;
    font-size: x-large;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    color: black;
}
.WeAreMainContent{
    text-align: center;
    position: relative;
}

.WeAreMainContentImg{
    width: 180px;
    height: 180px;
    margin: auto;
}

.WeAreMainContentImg img{
    border-radius: 90px;
    z-index: 10;
    position: relative;
    width: 180px;
    /* top: -9px; */
    height: 180px;
    object-fit: cover;
    border: 10px solid rgb(253, 253, 253);
}

.WeAreMainContentDes{
    position: relative;
    top: -80px;
    z-index: 1;
    margin: auto;
    width: 88%;
    /* height: 50vh; */
    padding: 19vh 10vh 10vh;
    border-radius: 3px;
    border: 1px solid black;
}

.WeAreMainContentDes p{
    font-size: 16px;
    color: rgb(0, 0, 0);
    /* font-weight: 3px; */
    font-size: smaller;
    letter-spacing: 1px;
    /* word-spacing: 1px; */
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Cinzel', serif; */
    font-weight: 400;
}

@media only screen and (max-width: 425px) {
    .WeAreMainContentDes{
        padding: 15vh 20px 4vh;
        /* border: none; */
    }
    .WeAre{
        padding: 55px 0px;
    }
    .WeAreMainContentDes p{
        /* border: 1px solid black; */
        /* padding: 5px; */
        font-size: 0.7rem;
    }
    
}