.WeAre{
    height: 110vh;
    padding: 100px 0px;
    background-color: whitesmoke;
}

.WeAreHead{
    margin-bottom: 55px;
    text-align: center;
    font-size: x-large;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    color: black;
}
.WeAreMainContent{
    text-align: center;
    position: relative;
}

.WeAreMainContentImg{
    width: 180px;
    height: 180px;
    margin: auto;
}

.WeAreMainContentImg img{
    border-radius: 90px;
    z-index: 10;
    position: relative;
    width: 180px;
    /* top: -9px; */
    height: 180px;
    object-fit: cover;
    border: 10px solid whitesmoke;
}

.WeAreMainContentDes{
    position: relative;
    top: -80px;
    z-index: 1;
    margin: auto;
    width: 88%;
    padding: 19vh 10vh 10vh;
    border: 1px solid black;
}
.WeAreMainContentDes p{
    font-size: 16px;
    color: rgb(0, 0, 0);
    /* font-weight: 3px; */
    font-size: smaller;
    letter-spacing: 1px;
    /* word-spacing: 1px; */
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Cinzel', serif; */
    font-weight: 400;
}