@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400&display=swap');

.startingButton{
    color: white;
    background-color: transparent;
    border-color: transparent;
    font-family:'Be Vietnam Pro', sans-serif;
    font-size: 20;
    float:right;
    transition: text-decoration 0.6s ease;
    text-decoration: 3px underline transparent;
    cursor: pointer;
    padding: 5px;
}
.start{
    padding: 10px;
}
.startingButton:hover{
    text-decoration: 3px underline rgb(255, 255, 255);
}
#startlogo{
    height: 50px;
    width: 50px;
}
.startingPageContainer{
    padding: 20px 30px;
    position:absolute;
    background: transparent;
    top: 0;
    width: 100%;
}