.SubDropPageforMarketing{
    padding-top: 120px;
    height: 100vh;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    width: 98%;
}

.SubDropPageGGG{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;   
}

.SubDropPageGGGDes{
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
}

.CarouselForMarketBusiness{
    width: 40%;
    /* flex: 1; */
    margin: auto;
}
.CarouselForMarketBusiness img{
    height: 300px;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .SubDropPageforMarketing{
        padding-top: 0px;
        margin-top: 60px;
        margin-top: 80px;
    }
    .SubDropPageGGG{
        flex-direction: column;
    }
    .SubDropPageGGGDes{
        width: 100%;
    }
    .CarouselForMarketBusiness{
        width: 90%;
        height: 150px;
    }
    .CarouselForMarketBusiness img{
        object-fit: contain;
        height: 150px;
    }
}
