.MarketingBusinessWriteUp{
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin: auto;   
    margin-bottom: 25px;
}
.MarketingBusinessWriteUp img{
    height: 70vh;
    width: 100%;
    /* object-fit: contain; */
    border-radius: 10px;
}

@media only screen and (max-width: 425px) {
    .MarketingBusinessWriteUp img{
        object-fit: contain;
        height: 40vh;
        width:100%;
    }
    .SubDropPageH1{
        width: 80%;
        margin: auto;
        font-size: 1.8rem;
    }
    .SubDropPageGGGDesP{
        font-size: 0.9rem;
    }
    .MarketingBusinessWriteUpHead{
         /* font-size: 1.5rem; */
         line-height: 6vh;
    }
}