.MarketingBusinessWriteUp{
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin: auto;   
    margin-bottom: 25px;
}
.MarketingBusinessWriteUp img{
    height: 70vh;
    width: 100%;
    /* object-fit: contain; */
    border-radius: 10px;
}